@charset "UTF-8";
/*
	Ethan Turkeltaub
		file: css/src/application.scss
*/
/* line 17, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-circle.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialCircle";
  src: url("/webfonts/ss-social-circle/ss-social-circle.eot");
  src: url("/webfonts/ss-social-circle/ss-social-circle.eot?#iefix") format("embedded-opentype"), url("/webfonts/ss-social-circle/ss-social-circle.woff") format("woff"), url("/webfonts/ss-social-circle/ss-social-circle.ttf") format("truetype"), url("/webfonts/ss-social-circle/ss-social-circle.svg#SSSocialCircle") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 25, src/lib/vendor/_ss-social-circle.scss */
html:hover [class^="ss-"] {
  -ms-zoom: 1;
}

/* line 31, src/lib/vendor/_ss-social-circle.scss */
.ss-icon, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-family: "SSSocialCircle";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* line 48, src/lib/vendor/_ss-social-circle.scss */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-facebook:before, .ss-facebook.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-twitter:before, .ss-twitter.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-linkedin:before, .ss-linkedin.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-googleplus:before, .ss-googleplus.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-appdotnet:before, .ss-appdotnet.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-zerply:before, .ss-zerply.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-reddit:before, .ss-reddit.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-steam:before, .ss-steam.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-tumblr:before, .ss-tumblr.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-wordpress:before, .ss-wordpress.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-blogger:before, .ss-blogger.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-posterous:before, .ss-posterous.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-quora:before, .ss-quora.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-youtube:before, .ss-youtube.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-vimeo:before, .ss-vimeo.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-vine:before, .ss-vine.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-letterboxd:before, .ss-letterboxd.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-flickr:before, .ss-flickr.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-instagram:before, .ss-instagram.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-500px:before, .ss-500px.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-etsy:before, .ss-etsy.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-pinterest:before, .ss-pinterest.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-svpply:before, .ss-svpply.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-readmill:before, .ss-readmill.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-dropbox:before, .ss-dropbox.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-pinboard:before, .ss-pinboard.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-delicious:before, .ss-delicious.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-dribbble:before, .ss-dribbble.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-behance:before, .ss-behance.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-github:before, .ss-github.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-octocat:before, .ss-octocat.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-stackoverflow:before, .ss-stackoverflow.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-paypal:before, .ss-paypal.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-kickstarter:before, .ss-kickstarter.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-foursquare:before, .ss-foursquare.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-yelp:before, .ss-yelp.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-skype:before, .ss-skype.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-rdio:before, .ss-rdio.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-spotify:before, .ss-spotify.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-lastfm:before, .ss-lastfm.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-soundcloud:before, .ss-soundcloud.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-link:before, .ss-link.right:after {
  content: '🔗';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-phone:before, .ss-phone.right:after {
  content: '📞';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-rss:before, .ss-rss.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-share:before, .ss-share.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-apple:before, .ss-apple.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-microsoft:before, .ss-microsoft.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-windows:before, .ss-windows.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-android:before, .ss-android.right:after {
  content: '';
}

/* line 50, src/lib/vendor/_ss-social-circle.scss */
.ss-blackberry:before, .ss-blackberry.right:after {
  content: '';
}

/* Legacy */
/* line 53, src/lib/vendor/_ss-social-circle.scss */
.ss-fivehundredpx:before, .ss-fivehundredpx.right:after {
  content: '';
}

/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */
}
/*
	II. Universal
*/
/* line 33, src/application.scss */
body {
  background: #fefefe;
  color: #333333;
  font: 400 16px/1.75em "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, Times New Roman, Times, serif;
}

/* line 39, src/application.scss */
a {
  border-bottom: 1px solid #cbcbcb;
  color: #333333;
  text-decoration: none;
}
/* line 44, src/application.scss */
a:hover {
  color: #58d1a5;
}

/* line 49, src/application.scss */
em {
  font-style: italic;
}

/* line 54, src/application.scss */
figure a {
  border: none;
}
/* line 58, src/application.scss */
figure figcaption {
  color: #cbcbcb;
  font-style: italic;
}

/* line 64, src/application.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt-1", "futura-pt-2", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 70, src/application.scss */
img {
  max-width: 100%;
}

/* line 75, src/application.scss */
li p + p {
  margin: 0;
}
/* line 79, src/application.scss */
li + li {
  margin-top: 1.25em;
}

/* line 84, src/application.scss */
p + p {
  margin-top: 1.75em;
}

/* line 88, src/application.scss */
strong {
  font-weight: bold;
}

/*
	III. Header
*/
/* line 97, src/application.scss */
#contain > header {
  background: #f1f1f1;
  padding: 1em 0;
}
/* line 101, src/application.scss */
#contain > header .inner {
  *zoom: 1;
  max-width: 47em;
  _width: 47em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > header .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 105, src/application.scss */
#contain > header a {
  border: none;
}
/* line 109, src/application.scss */
#contain > header aside {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 113, src/application.scss */
#contain > header nav {
  width: 65.95745%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-size: 0.9em;
}
/* line 118, src/application.scss */
#contain > header nav ul {
  float: right;
}
/* line 121, src/application.scss */
#contain > header nav ul li {
  display: inline-block;
}
/* line 124, src/application.scss */
#contain > header nav ul li + li {
  margin-top: 0;
  padding-left: 1.25em;
}

/*
	IV. Main
*/
/* line 139, src/application.scss */
#main .page .section {
  *zoom: 1;
  max-width: 47em;
  _width: 47em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 2em auto;
}
/* line 38, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main .page .section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 144, src/application.scss */
#main .page .section aside {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 147, src/application.scss */
#main .page .section aside figure img {
  max-width: 75%;
}
/* line 151, src/application.scss */
#main .page .section aside ul li {
  font-size: 0.9em;
}
/* line 154, src/application.scss */
#main .page .section aside ul li + li {
  margin-top: 0;
}
/* line 160, src/application.scss */
#main .page .section section {
  width: 74.46809%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 165, src/application.scss */
#main .page.blog {
  *zoom: 1;
  max-width: 47em;
  _width: 47em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 2em auto;
}
/* line 38, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main .page.blog:after {
  content: "";
  display: table;
  clear: both;
}
/* line 170, src/application.scss */
#main .page.blog .inner {
  width: 74.46809%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-right: 25.53191%;
}
/* line 175, src/application.scss */
#main .page.blog .inner > header {
  border-bottom: 1px solid #f1f1f1;
  font-style: italic;
  margin-bottom: 3em;
  padding-bottom: 0.5em;
}
/* line 181, src/application.scss */
#main .page.blog .inner > header span {
  font-style: normal;
}
/* line 186, src/application.scss */
#main .page.blog h2 {
  font-size: 1.5em;
}
/* line 191, src/application.scss */
#main .page.blog article header {
  margin-bottom: 1.75em;
}
/* line 195, src/application.scss */
#main .page.blog article footer {
  color: #cbcbcb;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 1.75em;
}
/* line 201, src/application.scss */
#main .page.blog article footer ul li {
  display: inline-block;
}
/* line 204, src/application.scss */
#main .page.blog article footer ul li + li {
  margin-top: 0;
}
/* line 210, src/application.scss */
#main .page.blog article + article {
  border-top: 1px solid #f1f1f1;
  margin-top: 4em;
  padding-top: 4em;
}

/*
	V. Footer
*/
/* line 224, src/application.scss */
#contain > footer {
  border-top: 1px solid #f1f1f1;
  padding: 2em 0 4em;
  margin-top: 4em;
}
/* line 229, src/application.scss */
#contain > footer .inner {
  *zoom: 1;
  max-width: 47em;
  _width: 47em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > footer .inner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 232, src/application.scss */
#contain > footer .inner section {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}
/* line 236, src/application.scss */
#contain > footer .inner nav {
  width: 48.93617%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-size: 1.25em;
}
/* line 241, src/application.scss */
#contain > footer .inner nav a {
  border: none;
}
/* line 245, src/application.scss */
#contain > footer .inner nav ul {
  float: right;
}
/* line 248, src/application.scss */
#contain > footer .inner nav ul li {
  display: inline-block;
}
/* line 251, src/application.scss */
#contain > footer .inner nav ul li + li {
  margin-left: 0.25em;
  margin-top: 0;
}
/* line 259, src/application.scss */
#contain > footer .inner p {
  font-size: 0.9em;
}
/* line 262, src/application.scss */
#contain > footer .inner p span {
  color: #cbcbcb;
}
/* line 265, src/application.scss */
#contain > footer .inner p span a {
  color: #cbcbcb;
}
