// Ethan Turkeltaub
//   file: css/src/application.sass

@import lib/base


// universal

body
  background: $base
  color: $text
  font: 400 100%/1.75em $serif

a
  color: $sea-foam
  text-decoration: none

  &:hover
    color: darken($sea-foam, 5%)

em
  font-style: italic

h1, h2, h3, h4, h5, h6
  font-family: $sans-serif
  font-weight: 600

p + p
  margin-top: 1.75em

strong
  font-weight: 600


// header

header#header
  +container

  border-bottom: 1px solid $light-grey
  font-family: $sans-serif
  padding-bottom: 2em
  padding-top: 2em

  a
    color: $text

    &:hover
      color: $sea-foam

  h1
    +span-columns(4, 12)

    font-weight: 600

  nav
    font-weight: 300
    font-size: 0.9em

    ul
      +span-columns(3, 12)

      &:last-child
        +suffix(2)
        +omega


// main

main
  padding-bottom: 3em
  padding-top: 3em

  .row
    +container

    @for $i from 1 through 24
      .col-#{$i}
        +span-columns($i, $total-columns)
        @media (max-width: $tablet-small)
          +span-columns(24, $total-columns)
          // margin-bottom: 2em
      .suffix-#{$i}
        +suffix($i, $total-columns)

    .omega
      +omega

    & + .row
      margin-top: 3em

  .info-section
    div
      border-top: 1px solid $light-grey
      padding-top: 1em

    dl
      & + dl
        margin-top: 1em

      dt
        font-family: $sans-serif






// footer

footer
  +container

  border-top: 1px solid $light-grey
  padding-bottom: 3em
  padding-top: 2em
