<article>
	<header>
		{% for asset in current.assets %}
			<a href="{{ asset.url }}">
				{% if asset.type == 'image' %}
					<img src="{{asset.url}}">
				{% elsif asset.type == 'audio' %}
					<audio><source src="{{asset.url}}" type="{{asset.content_type}}"></audio>
				{% elsif asset.type == 'video' %}
					<video><source src="{{asset.url}}" type="{{asset.content_type}}"></video>
				{% elsif asset.type == 'other' %}
					<a href="{{asset.url}}">Download {{asset.filename}}</a></li>
				{% endif %}
			</a>
		{% endfor %}
	</header>
	{{ current.body }}
	<footer>
		<p>
			{{ current.date | date: '%B %d, %Y' }}
		</p>
	</footer>
</article>
