<!doctype html>
<html lang="en">
	<head>
		<script id="peercdn">(function(a,b,f,g){var c=/(; |#|&|^)peercdn=(\d)/.exec(location.hash+"; "+a.cookie);if(!c||!c[2]||+c[2]){var d=a.createElement("script"),e=function(){d.src=g;var b=a.getElementsByTagName("script"),c=b[0];c.parentNode.insertBefore(d,1<b.length?c.nextSibling:c)};f()?(a.write('<plaintext style="display:none">'),setTimeout(function(){b.PeerCDN||(b.PeerCDN={});b.PeerCDN.cap=!0;d.onerror=function(){a.cookie="peercdn=0; expires="+(new Date(Date.now()+18E5)).toGMTString()+"; path=/";b.location=b.location.href};e()},0)):e()}})(document,window,function(){var a=/webkit|msie\s10|(firefox)[\/\s](\d+)|(opera)[\s\S]*version[\/\s](\d+)|3ds/i.exec(navigator.userAgent);return!a||a[1]&&4>+a[2]||a[3]&&11>+a[4]?!1:!0},"//cdn.peercdn.com/instant.js");</script>

		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,initial-scale=1" name="viewport">

		<meta name="description" content="{{ site.meta.description }}">

		<meta property="twitter:account_id" content="{{ site.meta.twitter_id }}">

		<title>Ethan Turkeltaub</title>

		<link rel="icon" type="image/png" href="/img/favicon.png">
		<link rel="shortcut icon" type="image/png" href="/img/favicon.png">

		<link type="application/rss+xml" rel="alternate" title="{{ site.title }}" href="{{ site.feed_url }}">

		<link href="/css/application.css" rel="stylesheet">
		<link href="/webfonts/ss-social-circle/ss-social-circle.css" rel="stylesheet">

		{% include "includes/typekit" %}
	</head>
	<body>
		<div id="contain">
			<header>
				<div class="inner">
					<aside>
						<h1><a href="/">{{ site.title }}</a></h1>
					</aside>
					<nav>
						<ul>
							{% for page in site.pages %}
							{% unless page.title == 'Home' %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
							{% endunless %}
							{% endfor %}
						</ul>
					</nav>
				</div>
			</header>
			<div id="main" role="main">
				{{ content }}
			</div>
			<footer>
				<div class="inner">
					<section>
						<p>{{ site.title }} fecit {{ site.date | date: '%Y' }}.</p>
						<p><span>Source code for this site is available <a href="https://github.com/eturk/ethnt.me">on GitHub</a>.</span></p>
					</section>
					<nav>
						<ul>
							{% if site.feed_url %}<li><a href="{{ site.feed_url }}"><i class="ss-icon">rss</i></a></li>{% endif %}
							{% if site.meta.twitter %}<li><a href="https://twitter.com/{{ site.meta.twitter }}"><i class="ss-icon">twitter</i></a></li>{% endif %}
							{% if site.meta.github %}<li><a href="https://github.com/{{ site.meta.github }}"><i class="ss-icon">github</i></a></li>{% endif %}
							{% if site.meta.dribbble %}<li><a href="http://dribbble.com/{{ site.meta.dribbble }}"><i class="ss-icon">dribbble</i></a></li>{% endif %}
							{% if site.meta.instagram %}<li><a href="http://instagram.com/{{ site.meta.instagram }}"><i class="ss-icon">instagram</i></a></li>{% endif %}
							{% if site.meta.rdio %}<li><a href="http://rdio.com/people/{{ site.meta.rdio }}"><i class="ss-icon">rdio</i></a></li>{% endif %}
						</ul>
					</nav>
				</div>
			</footer>
		</div>
		<script src="/jsc/lib/vendor/jquery.js"></script>
		<script src="/jsc/lib/vendor/jquery.fitvids.js"></script>
		<script src="/jsc/application.js"></script>
		<script src="/webfonts/ss-social-circle/ss-social.js"></script>
		{% include "includes/analytics" %}
	</body>
</html>
